{% load i18n %}
{% load static %}

<div class="activity_left">
    <ul>
        <li><a href="{% url 'main:rektorat' %}">{% blocktrans %}Rektorat{% endblocktrans %}</a></li>
        <li><a href="{% url 'main:fakultet' %}">{% blocktrans %}Fakultetlar{% endblocktrans %}</a></li>
        <li><a href="{% url 'main:markaz' %}">  {% blocktrans %}Markazlar{% endblocktrans %}</a></li>
        <li><a href="{% url 'main:bulim' %}">   {% blocktrans %}Bo'limlar{% endblocktrans %}</a></li>
        <li><a href="{% url 'main:kafedra' %}"> {% blocktrans %}Kafedralar{% endblocktrans %}</a></li>

    </ul>
</div>