<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/fontAwesome/fonts.css">
    <link rel="stylesheet" href="./css/Owl-Carusel/owl-carusel.css">
    <link rel="stylesheet" href="./css/Owl-Carusel/owl-carusel-default.css">


    <link rel="stylesheet" href="./css/bootstrap5.3.css">
    <link rel="stylesheet" href="./css/swiper.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/responsive.css">


    <title>Sambhram</title>



</head>
<body>
    
<!-- Navbar-->
    <div class="navbar_box">
        <section class="navbar-box">
            <nav class="navbar-top">
                <div class="link-box">
                    <img src="./img/icon/call.png" alt="call">
                    <a href="">+998 (90) 123 45 67</a>
            &nbsp;
            &nbsp;
                    <img src="./img/icon/mail.png" alt="main">
                    <a href="">info@sambhram.uz</a>
                </div>
                <div class="link-box-search">
                    <form>
                        <input type="search" placeholder="Qidiruv">
                    </form>
                </div>
                <div class="link-box-language">
                    <ul>
                        
                    </ul>
                </div>
                <div class="link-box-button">
                    <a href="">Qabul</a>
                    <a href="">Admin</a>
                </div>
            </nav>
        </section>

        <section class="navbar-box">
            <nav class="navbar-center">
                <div class="logo-box">
                    <a href="#"><img src="./img/logo.png" alt="logo"></a>
                    <span>JIZZAX SAMBHRAM UNIVERSITETI</span>
                </div>
                <div class="navbar_dropdown">
                    <ul>
                        <li class="li_1">
                            <a href="#">SAMBHRAM Haqida <img class="rotate-img" src="./img/icon/right.png" alt="right"></a>
                            <ul class="dropdown_2">
                                <li><a href="#">dropdown 1</a></li>
                                <li><a href="#">dropdown 2</a></li>
                                <li><a href="#">dropdown 3</a></li>
                                <li><a href="#">dropdown 4</a></li>
                            </ul>
                        </li> 
                            
                        <li class="li_1">
                            <a href="#">Yangiliklar     <img class="rotate-img" src="./img/icon/right.png" alt="right"></a>
                            <ul class="dropdown_2">
                                <li><a href="#">dropdown 1</a></li>
                                <li><a href="#">dropdown 2</a></li>
                                <li><a href="#">dropdown 3</a></li>
                                <li><a href="#">dropdown 4</a></li>
                            </ul>
                        </li>
                        
                        <li class="li_1">
                            <a href="#">Universitet     <img class="rotate-img" src="./img/icon/right.png" alt="right"></a>
                            <ul class="dropdown_2">
                                <li><a href="#">dropdown 1</a></li>
                                <li><a href="#">dropdown 2</a></li>
                                <li><a href="#">dropdown 3</a></li>
                                <li><a href="#">dropdown 4</a></li>
                            </ul>
                        </li>
                            
                        <li class="li_1">
                            <a href="#">Faoliyat        <img class="rotate-img" src="./img/icon/right.png" alt="right"></a>
                            <ul class="dropdown_2">
                                <li><a href="#">dropdown 1</a></li>
                                <li><a href="#">dropdown 2</a></li>
                                <li><a href="#">dropdown 3</a></li>
                                <li><a href="#">dropdown 4</a></li>
                            </ul>
                        </li>
                            
                        <li class="li_1">
                            <a href="#">Ta'lim          <img class="rotate-img" src="./img/icon/right.png" alt="right"></a>
                            <ul class="dropdown_2">
                                <li><a href="#">dropdown 1</a></li>
                                <li><a href="#">dropdown 2</a></li>
                                <li><a href="#">dropdown 3</a></li>
                                <li><a href="#">dropdown 4</a></li>
                            </ul>
                        </li>
                            
                        <li class="li_1">
                            <a href="#">Talabalar       <img class="rotate-img" src="./img/icon/right.png" alt="right"></a>
                            <ul class="dropdown_2">
                                <li><a href="#">dropdown 1</a></li>
                                <li><a href="#">dropdown 2</a></li>
                                <li><a href="#">dropdown 3</a></li>
                                <li><a href="#">dropdown 4</a></li>
                            </ul>
                        </li>
                            
                        <li class="li_1">
                            <a href="#">Aloqa<img class="rotate-img" src="./img/icon/right.png" alt="right"></a>
                            <ul class="dropdown_2">
                                <li><a href="#">dropdown 1</a></li>
                                <li><a href="#">dropdown 2</a></li>
                                <li><a href="#">dropdown 3</a></li>
                                <li><a href="#">dropdown 4</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>
    </div>
<!-- Navbar-->


<!-- Yangiliklar -->
<div class="bg_img_box">
    <section class="rektorat">
        <div class="breadcrumbb">
            <ul>
                <li><a href="#"><img src="./img/Rektorat/home.png"></a></li>
                <li class="sircl"></li>
    
                <li><a href="#">Universitet</a></li>
                <li class="sircl"></li>
                
                <li><a href="#">Rektorat</a></li>
        
            </ul>
        </div>
        
        <div class="rektorat_users">
            <div class="rektor_card_in">
                <div class="left">
                    <img src="./img/Rektorat/samandar.jpg">
                </div>
                <div class="right">
                    <p class="name">  <span>F.I.SH</span>       SAMANDAR NAZAROV ESHIMOVICH</p>
                    <p class="rang">  <span>Lavozim</span>      Labaratoriya Hodimi</p>
                    <p class="tell">  <span>Telefon</span>      +998 99-214-2510</p>
                    <p class="email"> <span>E-pochta</span>     samandar@gmail.com</p>
                    <p class="times"> <span>Ish-vaqti</span>    Du - Ju 8:30 - 16: 30, Sha 8:30 - 14: 30</p>
                </div>
            </div>
      
            <div class="all_cards_in">
                <p align="center">Umumiy ma’lumot </p>
                
                <p>
                    Markaz faoliyatining asosiy yo‘nalishlari quyidagilardan iborat:
                    •  Filialning kompyuter va axborot infratuzilmasini yaratish va uning dasturiy ta'minotini amalga oshirish;
                    •  Axborot texnologiyalarini ta'lim jarayoniga kiritish, o‘quv jarayonini boshqarishni kompyuterlashtirish, axborot tizimlari va elektron kutubxonalarni yaratish;
                    •  Zamonaviy axborot texnologiyalari sohasida filial professor-o‘qituvchilari uchun seminar-treninglar o‘tkazish;
                    •  Professor-o‘qituvchilar, ilmiy tadqiqotchilar, magistratura va bakalavriat talabalari uchun INTERNET va milliy ilmiy-o‘quv tarmog‘idan foydalanishlariga imkoniyatlar yaratish;
                    •  Axborot – kommunikasiya tarmog‘inining o‘quv-metodik ta'minotini yaratish borasida filial fakultetlari va kafedralarining faoliyatlarini muvofiqlashtirish;
                    •  Axborot-kommunikasion texnologiyalarini rivojlantirish muammolariga bag‘ishlangan ko‘rgazmalar, anjumanlar, amaliy seminarlarda ishtirok etish va tashkil etish;
                    •  Respublikaning boshqa o‘quv muassasalari, chet el davlatlari ta'lim muassasalari bilan o‘zaro tajriba almashish, axborot texnologiyalari bo‘yicha hamkorlikdagi o‘quv kurslarini yaratish maqsadida ijodiy aloqalarni o‘rnatish va rivojlantirish;
                    •  Filialning rasmiy veb saytini yaratish, filial yangiliklari haqidagi axborotlar bilan doimiy yangilanishini ta'minlash;
                    •  Filialni zamonaviy kompyuterlar va tarmoq bilan ishlash uchun zaruriy ashyolar bilan ta'minlash haqidagi takliflarni tayyorlash;
                    •  Filial kompyuterlar tarmog‘ini yaratish va tarmoqning dasturiy ta'minotini amalga oshirish (Intranet va Internet);
                    •  Filial kompyuterlarining dasturiy ta'minotini amalga oshirish;
                    •  Fakultetlarda Kompyuter sinflarini tashkil qilishga amaliy yordam ko‘rsatish;
                    •  Kompyuter texnologiyalarini joriy etish bo‘yicha o‘quv-metodik ta'minotni yaratish;
                    •  Elektron o‘quv qo‘llanmalarni yaratishda va ularni o‘quv jarayoniga joriy qilishga amaliy yordam ko‘rsatish;
                    •  Elektron darsliklar va ma'ruzalar matnlarining elektron versiyalari yaratish bo‘yicha amaliy yordam ko‘rsatish;
                    •  Filial Axborot resurs markaziga avtomatlashtirilgan ARMAT tizimini joriy etishda amaliy yordam ko‘rsatish.
                   
                </p>
               
            </div>
            <h1 align="center" class="title_user-info">Hodimlar haqida ma’lumot</h1>
            <div class="plus-card">
                
                <div class="cards">
                    <div class="img-box">
                        <img src="./img/Rektorat/samandar.jpg">
                    </div>
                    
                    <div class="footer_card">
                        <p class="user_title">Saitov Sirojiddin Abduvaliyevich</p>
                        <p class="user_rang">Muxandis Dasturchi</p>
                        <div class="link-btn">
                            <a href="#"><img src="./img/Rektorat/icon-call.png"></a>
                            <a href="#"><img src="./img/Rektorat/icon-sms.png"></a>
                            <a href="#"><img src="./img/Rektorat/icon-tg.png"></a>
                        </div>
                    </div>
                </div>

                <div class="cards">
                    <div class="img-box">
                        <img src="./img/Rektorat/samandar.jpg">
                    </div>
                    
                    <div class="footer_card">
                        <p class="user_title">Saitov Sirojiddin Abduvaliyevich</p>
                        <p class="user_rang">Muxandis Dasturchi</p>
                        <div class="link-btn">
                            <a href="#"><img src="./img/Rektorat/icon-call.png"></a>
                            <a href="#"><img src="./img/Rektorat/icon-sms.png"></a>
                            <a href="#"><img src="./img/Rektorat/icon-tg.png"></a>
                        </div>
                    </div>
                </div>

               
                
            </div>
        </div>


      
    </section>
</div>

<!-- Yangiliklar END -->








<!-- Footer -->

<div class="container-fluid footer">
    <div class="container footer_container">
        <div class="footer_title">
            <img src="./img/logo.png">
            <h4> JIZZAX SAMBHRAM UNIVERSITETI</h4>
        </div>
        <hr>
        <div class="row footer_content">
            <div class="col-4 footer_call">
                <h5>BIZ BILAN BOG’LANISH</h5>
                <a href="#"><img src="./img/icon/phone.png"> &nbsp; +998942227751</a>
                <a href="#"><img src="./img/icon/email.png"> &nbsp; info@sambhram.uz</a>
                <button class="btn"> Murojat yuborish</button>
            </div>
            <div class="col-4 footer_social">
                <h5>BIZNI IJTIMOIY TARMOQ</h5>
                <a href="#"><img src="./img/icon/facebook.png">  &nbsp; Facebook</a>
                <a href="#"><img src="./img/icon/instagram.png"> &nbsp; Instagram</a>
                <a href="#"><img src="./img/icon/youtube.png">   &nbsp; Youtobe</a>
                <a href="#"><img src="./img/icon/telegram.png">  &nbsp; Telegram</a>
                
            </div>
            <div class="col-4">
                <h5>UNIVERSITET JOYLASHUVI</h5>
                <div class="footer_map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6099.62100394613!2d67.81760615593862!3d40.14650463708522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38b2973c0538fc9d%3A0x40a4140337c4fc9!2sSambhram%20University%20%7C%20Jizzakh%20affiliation!5e0!3m2!1sen!2s!4v1738563634634!5m2!1sen!2s" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <hr>

        </div>
        <div class="row footer_bottom">
            <div class="col-6">
                <p>Barcha huquqlar himoyalangan. Saytdan olingan ma'lumotlar chop etilganda veb-saytga havola qilish majburiy.</p>
            </div>
            <div class="col-6">
                <p style="text-align: end;">Jizzax viloyati, Jizzax shahri, Sh.Rashidov shoh ko‘chasi,  83-uy</p>
                
            </div>
        </div>
    </div>
</div>


<!-- Footer End -->







    <script src="./js/JQuery.js"></script>
    <script src="./js/Owl-Carusel.js"></script>
    <script src="./js/bootstrap5.3.js"></script>
    <script src="./js/swiper.js"></script>
    <script src="./js/main.js"></script>

</body>
</html>