{% extends "base.html" %}
{% load static %}

{% block main %}

<div class="bg_img_box">
    <section class="rektorat">
        <div class="breadcrumbb">
            <ul>
                <li><a href="#"><img src="{% static 'img/Rektorat/home.png' %}"></a></li>
                <li class="sircl"></li>
    
                <li><a href="#">Universitet</a></li>
                <li class="sircl"></li>
                
                <li><a href="#">Fakultet</a></li>
        
            </ul>
        </div>
        
        <div class="rektorat_users">
            <div class="rektor_card_in">
                <div class="left">
                    <img src="{{ rektoratUser.photo.url }}">
                </div>
                <div class="right">
                    <p class="name">  <span>F.I.SH</span>      {{ rektoratUser.name }}</p>
                    <p class="rang">  <span>Lavozim</span>      {{ rektoratUser.rang }}</p>
                    <p class="tell">  <span>Telefon</span>      {{ rektoratUser.number }}</p>
                    <p class="email"> <span>E-pochta</span>     {{ rektoratUser.email }}</p>
                    <p class="times"> <span>Ish-vaqti</span>    Du - Ju 8:30 - 16: 30, Sha 8:30 - 14: 30</p>
                </div>
            </div>
      
            <div class="all_cards_in">
                <p align="center">Umumiy ma’lumot </p>
                <p>{{ rektoratUser.body }}</p>
            </div>
        </div>


      
    </section>
</div>

{% endblock main %}