*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.owl-carousel{
padding: 10px 0;
}
.owl-carousel .item{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
}
.owl-carousel .item img{
   width: 100%;
   aspect-ratio: 4/3;
   object-fit: contain;
   mix-blend-mode: color-burn;
}
.owl-carousel .item p{
   font-size: 20px;
    font-weight: bold;
    text-align: center;
}




.footer{
    background: url('../img/footer/footer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 0;
    
}
.footer_title{
    display: flex;
    height: 100px;
}
.footer_title img{
    height: 90px;
    width: 90px;
    line-height: 100px;

}
.footer_title h4{
    margin-left: 10px;
    color: #fff;
    line-height: 100px;
}
.footer_container hr{
    color: #fff;
}
.footer_content{
    color: #fff;
}
.footer_content p{
    display: inline-block;
}
.footer_content p a{
    text-decoration: none;
}
.footer_content button{
    color: #fff;
    padding: 10px 40px;
    display: block;
    margin-top: 20px;
    border: #fff 1px solid;
    letter-spacing: 1px;
}
.footer_social a{
   margin-left: 20px;
    text-decoration: none;
    color: #fff;
}
.footer_social a i{
    font-size: 30px;
}
.footer_bottom p{
    color: #fff;
}