{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block main %}

<div class="bg_img_box">
    <section class="rektorat">
        <div class="breadcrumbb">
            <ul>
                <li><a href="#"><img src="{% static 'img/Rektorat/home.png' %}"></a></li>
                <li class="sircl"></li>
                <li><a href="{% url 'main:rektorat_main' %}">{% blocktrans %}Universitet{% endblocktrans %}</a></li>
                <li class="sircl"></li>
                <li><a href="#">{% blocktrans %}Rektorat{% endblocktrans %}</a></li>
            </ul>
        </div>
        
        <div class="rektorat_users">
            <div class="rektor_card_in">
                <div class="left">
                    <img src="{{ rektoratUser.photo.url }}">
                </div>
                <div class="right">
                    <p class="name">  <span>{% blocktrans %}F.I.SH{% endblocktrans %}</span>     {{ rektoratUser.name }}</p>
                    <p class="rang">  <span>{% blocktrans %}Lavozim{% endblocktrans %}</span>    {{ rektoratUser.rang }}</p>
                    <p class="tell">  <span>{% blocktrans %}Telefon{% endblocktrans %}</span>    {{ rektoratUser.number }}</p>
                    <p class="email"> <span>{% blocktrans %}E-pochta{% endblocktrans %}</span>   {{ rektoratUser.email }}</p>
                    <p class="times"> <span>{% blocktrans %}Ish-vaqti{% endblocktrans %}</span>  {{ rektoratUser.qabul_day }}</p>
                </div>
            </div>
      
            <div class="all_cards_in">
                <p align="center">{% blocktrans %}Umumiy ma’lumot{% endblocktrans %} </p>
                <p style="white-space: pre-wrap;">{{ rektoratUser.body }}</p>
            </div>
        </div>


      
    </section>
</div>

{% endblock main %}