{% extends "base.html" %}
{% load static %}

{% block main %}
    <div class="bg_img_box">
        <section class="rektorat">
            <!-- Breadcrumbs -->
            <div class="breadcrumbb">
                <ul>
                    <li>
                        <a href="{% url 'main:index' %}">
                            <img src="{% static 'img/Rektorat/home.png' %}" alt="Bosh sahifa">
                        </a>
                    </li>
                    <li class="sircl"></li>
                    <li>
                        <a href="{% url 'main:rektorat_main' %}">Universitet</a>
                    </li>
                    <li class="sircl"></li>
                    <li>
                        <a href="{% url 'main:bulim' %}">Bo'limlar</a>
                    </li>
                </ul>
            </div>

            <!-- Bo‘limlar ro‘yxati -->
            <div class="rektorat_users">
                <div class="all_cards">
                    {% if bulim %}
                        {% for item in bulim %}
                            <a href="{{ item.get_absolute_url }}" class="card">
                                {% if item.photo %}
                                    <img src="{{ item.photo.url }}" alt="{{ item.name }}">
                                {% else %}
                                    <img src="{% static 'img/default_user.png' %}" alt="Default rasm">
                                {% endif %}
                                <p class="user_title">{{ item.name }}</p>
                                <p class="user_rang">{{ item.rang }}</p>
                            </a>
                        {% endfor %}
                    {% else %}
                        <p class="no-data">Hozirda bo‘limlar mavjud emas.</p>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
{% endblock main %}