{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block main %}
<div class="bg_img_box">
    <section class="rektorat">
        <!-- Breadcrumbs -->
        <div class="breadcrumbb">
            <ul>
                <li><a href="{% url 'main:index' %}"><img src="{% static 'img/Rektorat/home.png' %}" alt="Bosh sahifa"></a></li>
                <li class="sircl"></li>
                <li><a href="{% url 'main:rektorat_main' %}">{% blocktrans %}Universitet{% endblocktrans %}</a></li>
                <li class="sircl"></li>
                <li><a href="{% url 'main:bulim' %}">{% blocktrans %}Bo'limlar{% endblocktrans %}</a></li>
            </ul>
        </div>

        <!-- Bo‘lim haqida ma’lumot -->
        <div class="rektorat_users">
            <div class="rektor_card_in">
                <div class="left">
                    {% if bulim.photo %}
                        <img src="{{ bulim.photo.url }}" alt="{{ bulim.name }}">
                    {% else %}
                        <img src="{% static 'img/default_user.png' %}" alt="Default rasm">
                    {% endif %}
                </div>
                <div class="right">
                    <p class="name">  <span>{% blocktrans %}F.I.SH{% endblocktrans %}</span>     {{ bulim.name }}</p>
                    <p class="rang">  <span>{% blocktrans %}Lavozim{% endblocktrans %}</span>    {{ bulim.rang }}</p>
                    <p class="tell">  <span>{% blocktrans %}Telefon{% endblocktrans %}</span>    {{ bulim.number }}</p>
                    <p class="email"> <span>{% blocktrans %}E-pochta{% endblocktrans %}</span>   {{ bulim.email }}</p>
                    <p class="times"> <span>{% blocktrans %}Ish-vaqti{% endblocktrans %}</span>  {{ bulim.qabul_day }}</p>
                </div>
            </div>

            <!-- Umumiy ma’lumot -->
            <div class="all_cards_in">
                <p style="text-align: center;">{% blocktrans %}Umumiy ma’lumot{% endblocktrans %}</p>
                <p style="white-space: pre-wrap;">{{ bulim.body }}</p>
            </div>

            <!-- Ichki hodimlar -->
            {% if userBulim %}
            <h1 class="title_user-info" style="text-align: center;">{% blocktrans %}Hodimlar haqida ma’lumot{% endblocktrans %}</h1>
            <div class="plus-card">
                    {% for item in userBulim %}
                        <div class="cards">
                            <div class="img-box">
                                {% if item.photo %}
                                    <img src="{{ item.photo.url }}" alt="{{ item.name }}">
                                {% else %}
                                    <img src="{% static 'img/default_user.png' %}" alt="Default rasm">
                                {% endif %}
                            </div>
                            <div class="footer_card">
                                <p class="user_title">{{ item.name }}</p>
                                <p class="user_rang">{{ item.rang }}</p>
                                <div class="link-btn">
                                    <a href="tel:{{ item.number }}">
                                        <img src="{% static 'img/Rektorat/icon-call.png' %}" alt="Telefon">
                                        {{ item.number }}
                                    </a>
                                    <a href="mailto:{{ item.email }}">
                                        <img src="{% static 'img/Rektorat/icon-sms.png' %}" alt="Email">
                                        {{ item.email }}
                                    </a>
                                    <a href="{{ item.tg }}" target="_blank">
                                        <img src="{% static 'img/Rektorat/icon-tg.png' %}" alt="Telegram">
                                        {{ item.tg }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
</div>
{% endblock main %}