{% extends "base.html" %}
{% load static %}
{% block main %}

<div class="bg_img_box">
    <section class="rektorat">
        <div class="breadcrumbb">
            <ul>
                <li><a href="#"><img src="{% static 'img/Rektorat/home.png' %}"></a></li>
                <li class="sircl"></li>
    
                <li><a href="#">Universitet</a></li>
                <li class="sircl"></li>
                
                <li><a href="#">Rektorat</a></li>
        
            </ul>
        </div>
        
        <div class="rektorat_users">
            <div class="rektor_card_in">
                <div class="left">
                    <img src="{% static 'img/Rektorat/samandar.jpg' %}">
                </div>
                <div class="right">
                    <p class="name">  <span>F.I.SH</span>       SAMANDAR NAZAROV ESHIMOVICH</p>
                    <p class="rang">  <span>Lavozim</span>      Labaratoriya Hodimi</p>
                    <p class="tell">  <span>Telefon</span>      +998 99-214-2510</p>
                    <p class="email"> <span>E-pochta</span>     samandar@gmail.com</p>
                    <p class="times"> <span>Ish-vaqti</span>    Du - Ju 8:30 - 16: 30, Sha 8:30 - 14: 30</p>
                </div>
            </div>
      
            <div class="all_cards_in">
                
                <p align="center">Umumiy ma’lumot </p>
                <p>Markaz faoliyatining asosiy yo‘nalishlari quyidagilardan iborat:</p>
               
            </div>
            <h1 align="center" class="title_user-info">Hodimlar haqida ma’lumot</h1>
            <div class="plus-card">
                
                <div class="cards">
                    <div class="img-box">
                        <img src="{% static 'img/Rektorat/samandar.jpg' %}">
                    </div>
                    
                    <div class="footer_card">
                        <p class="user_title">Saitov Sirojiddin Abduvaliyevich</p>
                        <p class="user_rang">Muxandis Dasturchi</p>
                        <div class="link-btn">
                            <a href="#"><img src="{% static 'img/Rektorat/icon-call.png' %}"></a>
                            <a href="#"><img src="{% static 'img/Rektorat/icon-sms.png' %}"></a>
                            <a href="#"><img src="{% static 'img/Rektorat/icon-tg.png' %}"></a>
                        </div>
                    </div>
                </div>

                <div class="cards">
                    <div class="img-box">
                        <img src="{% static 'img/Rektorat/samandar.jpg' %}">
                    </div>
                    
                    <div class="footer_card">
                        <p class="user_title">Saitov Sirojiddin Abduvaliyevich</p>
                        <p class="user_rang">Muxandis Dasturchi</p>
                        <div class="link-btn">
                            <a href="#"><img src="{% static 'img/Rektorat/icon-call.png' %}"></a>
                            <a href="#"><img src="{% static 'img/Rektorat/icon-sms.png' %}"></a>
                            <a href="#"><img src="{% static 'img/Rektorat/icon-tg.png' %}"></a>
                        </div>
                    </div>
                </div>

               
                
            </div>
        </div>


      
    </section>
</div>
   
{% endblock main %}
