{% load static %}
{% load i18n %}

<div class="activity_left">
    <ul>
        <li><a href="{% url 'main:kunduzki' %}">{% blocktrans %}Kunduzgi{% endblocktrans %}</a></li>
        <li><a href="{% url 'main:sirtqi' %}">  {% blocktrans %}Sirtqi ta'lim{% endblocktrans %}</a></li>
        <li><a href="{% url 'main:bakalavr' %}">{% blocktrans %}Bakalavr{% endblocktrans %}</a></li>
        <li><a href="{% url 'main:magistr' %}"> {% blocktrans %}Magistratura{% endblocktrans %}</a></li>
        <li><a href="{% url 'main:doc' %}">     {% blocktrans %}Doktarantura{% endblocktrans %}</a></li>
        <li><a href="{% url 'main:2m' %}">      {% blocktrans %}2-Mutaxasislik{% endblocktrans %}</a></li>
    </ul>
</div>