{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block main %}

    <div class="bg_img_box">
        <section class="news-detail">
            <div class="container-fluid news_card_in">
                <div class="block_news row">
                    {% for item in about %}
                    <div class="block_news_card-left col">
                        <img class="his-img" src="{{ item.photo.url }}" alt="Asosiy rasm">
                        <h4>{{ item.name }}</h4>
                        <p style="white-space: pre-wrap;">{{ item.body }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>

{% endblock main %}
