{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block main %}

    <div class="bg_img_box">
        <section class="about-me">
            <div class="bg-color-box">
                <div class="text"></div>
                <div class="card-box"></div>

                <header>
                    <h1>Nima uchun tanlash xususan bizda?</h1>
                    <p>Universitetning asosiy maqsadlari yuzidan malakali kadrlarni tayyorlash va o‘quv jarayonini tashkil etishda ilg‘or xizmat ko‘rsatish.</p>
                </header>
                <main>
                    <div class="card" style="background-color: #8A4AF3;">
                        <img src="https://via.placeholder.com/40" alt="Diploma Icon" class="card-icon">
                        <h2>Xalqaro bakalavr diplom</h2>
                        <p>Dunyoviy bo‘ylab martaba va e’tiborli talim uchun inkubatsiya o‘chirgan, jahon standartlariga javob beradigan nufuzli tashkilot.</p>
                    </div>
                    <div class="card" style="background-color: #1E90FF;">
                        <img src="https://via.placeholder.com/40" alt="Code Icon" class="card-icon">
                        <h2>Yorqin va qiziqarli talaballik hayoti</h2>
                        <p>Har bir talaba o‘zini topadigan va unutilmas xotiralar yaratadigan tadbirlar. Klublar, madaniy festivallar va sport musobaqalari.</p>
                    </div>
                    <div class="card" style="background-color: #FF4040;">
                        <img src="https://via.placeholder.com/40" alt="Star Icon" class="card-icon">
                        <h2>Koreya Respublikasi tajirovka va o‘qishda</h2>
                        <p>Akademik muhitni shon-shuhratga yetakchi universitetlarda briddan o‘zimattiradigan xalqaro tajriba orttirish imkoniyati.</p>
                    </div>
                </main>

                
            </div>
        </section>
    </div>

{% endblock main %}
