{% extends "base.html" %}
{% load static %}
{% block main %}

    <div class="bg_img_box">
        <section class="news">

            <div class="container-fluid news_card_in">
                <div class="block_news row">
                    <div class="block_news_card-left col">
                        
                        <img class="news-img" src="{% static 'img/bg-img-1.jpg' %}" alt="Asosiy rasm">

                        <h4>Universitet haqida </h4>
                        
                        <p>“Sambhram Universiteti” nodavlat ta’lim muassasasi bulib, 2021 - yilda tashkil topgan. Universitetda 1ta ochiq futbol maydoni va 1ta yopiq sport zali mavjud.
                            4,49 ga, bino va inshotlar maydoni
                            4400 kv. meter, hududda 2 ta o'quv binosi, 1 ta talabalar turadi zhoyi, 1 ta 200 o'rinli oshxona, 1 ta yopik sports hall va 1 ta kurilishi tugallanmagan yangi o'quv binosi mavzhud.
                            
                            Universitetda:
                            -1800 o'ringa mo'ljallangan o'qish xonalari 24 ta, 260 o'rinli 7 ta kompyuterlashtirilgan laboratoriya xonalari.
                            - axborot resurs markazi mavjud.
                            - AWP yes 4230 ta darsliklar va o'quv qo'llanmalari kitoblari mavzhud.
                            - 180 o'rinli faollar zali.
                            -184 o'rinli talabalar turadi-joyi mavzhud.
                            Faoliyati: Fakultetlar 3 ta, Katedral 5 ta.
                            Talim yo'nalishlari: 3 ta.
                            Magistratura mutahassisliklari: 2 ta.
                            Contingent: University of Jami 1977 nafar talabalar talim olmoqda. Zhumladan, 3 ta talim yönalish bwyicha kunduzgi talimda 857, Sirtqi talimda 1 100 nafar hamda magistracy 20 nafar talabalar oqimokda.
                        </p>
                        
                        <p>
                            Universitetda jami 53 nafar professor oʻqituvchilar faoliyatini yuritishda, 24 nafari Hohindiston davlatidan kelgan professor-oʻqituvchilar hamda 29 nafar mahalla professor-oʻqituvchilari (2 nafar fan doktorlari (DSc), 19 nafar falsafa doktorlari (PhD)), faoliyat juritmoda. Ilmiy bahosi40 foiz.
                            Universitetning halkaro professorlar bilan hamkorligi mavjud. Zhami 7 nafar, 3 nafari Hindustonning nufuzli universitetidan, 1 nafari Italiyaning nufuzli universitetidan, 1 nafari Kozogistonning nufuzli universitetidan, 2 nafari Rossiyaning nufuzli universitetidan onlayn va offline faoliyatini davom ettirmoqdalar.
                        </p>
                        

                            <div class="img-box">
                                <img style="width:45%;" src="{% static 'img/bg-img-1.jpg' %}" alt="Asosiy rasm">
                                <img style="width:45%;" src="{% static 'img/bg-img-1.jpg' %}" alt="Asosiy rasm">

                            </div>
            

                    </div>
                    


                </div>
            </div>
        </section>
    </div>

{% endblock main %}
