{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block main %}

<div class="bg_img_box">
    <section class="rektorat">
        <div class="breadcrumbb">
            <ul>
                <li><a href="{% url 'main:index' %}"><img src="{% static 'img/Rektorat/home.png' %}"></a></li>
                <li class="sircl"></li><li><a href="{% url 'main:aloqa' %}">{% blocktrans %}Aloqa{% endblocktrans %}</a></li>
            </ul>
        </div>
        {% for item in call  %}
        <div class="rektorat_users">
            <div class="rektor_card_in">
                <div class="left">
                    <img src="{{ item.photo.url }}">
                </div>
                <div class="right">
                    <p class="name">  <span>{% blocktrans %}F.I.SH{% endblocktrans %}</span>     {{ item.name }}</p>
                    <p class="rang">  <span>{% blocktrans %}Lavozim{% endblocktrans %}</span>    {{ item.rang }}</p>
                    <p class="tell">  <span>{% blocktrans %}Telefon{% endblocktrans %}</span>    {{ item.number }}</p>
                    <p class="email"> <span>{% blocktrans %}E-pochta{% endblocktrans %}</span>   {{ item.email }}</p>
                    <p class="times"> <span>{% blocktrans %}Ish-vaqti{% endblocktrans %}</span>  {{ item.qabul_day }}</p>
                </div>
            </div>
            
            <div class="all_cards_in">
                
                <p align="center">{% blocktrans %}Umumiy ma’lumot{% endblocktrans %} </p>
                <p>{{ item.body }}</p>
                
            </div>
        </div>
        {% endfor %}
    </section>
</div>
   
{% endblock main %}
