/* ========================================= */
/* ========================================= */
/* ========================================= */


.about_us{
    background: #EAF1FB;
    width: 100%;
    height: auto;
    background-image: url(../img/universitet-haqida/bg-img-book.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;

}

.about-main{
    margin: auto;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 50px;
    margin: auto;
    max-width: 1440px;
}   




.about-img-logo{
    width: 400px;
    height: 400px;
    margin: 50px;
    margin-left: 100px;
    position: absolute;
    left: 100px;
    z-index: 0;
}
.about-img-logo .line-box1{
    border: 2px solid #fff;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.about-img-logo .line-box1 .img-card{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: #87b1ec;
    box-shadow:  0 0 15px #757575, 0 0 30px #757575;
}

.about-img-logo .line-box1 .img-card img{
    width: 255px;
}



.about-main > .about-img-title{
    height: 400px;
    margin: 50px;
    margin-left: 100px;
    color: #D0D9FB;
    
}

.about-main > .about-img-title h3{
    font-weight: 700 !important;
    margin-bottom: 30px;
}
.about-main > .about-img-title p{
    width: 700px;
    margin-bottom: 20px;
}
.about-main > .about-img-title > p:nth-child(4){
    margin-bottom: 50px;
}
.about-main > .about-img-title a{
    text-decoration: none;
    color: #D0D9FB;
    padding:10px 40px;
    border-radius: 25px;
    border: 2px solid #D0D9FB;
    font-weight: 600;
    font-size: 18px;
    transition: all .3s;
    display: block;
    width: 200px;
    text-align: center;
    /* margin-top: 50px; */
}
.about-main > .about-img-title a:hover{
    color: #fff;
    background: #6078cc;
    border: 2px solid #D0D9FB;
    transition: all .3s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translateX(200px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(200px) rotate(-360deg);
    }
}

.loader1, .loader2, .loader3 {
    position: absolute;
    border-radius: 50%;
    animation: rotate 45s linear infinite;
}

.loader1 {
    width: 35px;
    height: 35px;
    background: #1b3557;
    animation-delay: 0s;
}

.loader2 {
    width: 25px;
    height: 25px;
    background: #fff;
    animation-delay: 0s;
    animation-direction: reverse;
}

.loader3 {
    width: 25px;
    height: 25px;
    background: #23426b;
    animation-delay: 0s;
    animation-duration: 80s;
}

