{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block main %}
    <div class="bg_img_box">
        <section class="rektorat">
            <div class="breadcrumbb">
                <ul>
                    <li><a href="{% url 'main:index' %}"><img src="{% static 'img/Rektorat/home.png' %}"></a></li>
                    <li class="sircl"></li>
                    <li><a href="{% url 'main:rektorat_main' %}">{% blocktrans %}Universitet{% endblocktrans %}</a></li>
                    <li class="sircl"></li>
                    <li><a href="{% url 'main:markaz' %}">{% blocktrans %}Markazlar{% endblocktrans %}</a></li>
                </ul>
            </div>
            
            <div class="rektorat_users">

                <div class="all_cards">
                    {% for item in markaz %}
                        <a href="{{ item.get_absolute_url }}" class="card">
                            <img src="{{ item.photo.url }}">
                            <p class="user_title">{{ item.name }}</p>
                            <p class="user_rang">{{ item.rang }}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock main %}
