{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="bg_img_box">
    <section class="faoliyat">
        <div class="breadcrumbb">
            <ul>
                <li><a href="#"><img src="{% static "img/Rektorat/home.png" %}"></a></li>
                <li class="sircl"></li>
                <li><a href="{% url 'main:faoliyat' %}">Faoliyat</a></li>
      
                <li class="sircl"></li>
                <li><a href="{% url 'main:of' %}">O'quv faoliyat</a></li>

            </ul>
        </div>
        <div class="activity">
            {% include "faoliyat/f_left.html" %}
            <div class="activity_right">
               
                
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium laboriosam labore eius quos illo tempora. Provident magni ipsa nulla dolore, laudantium doloribus doloremque maiores in ducimus blanditiis neque, similique perspiciatis amet quam aut cumque totam ad tenetur reprehenderit recusandae vel? Illum debitis repudiandae quo optio perferendis adipisci quaerat tenetur tempora quibusdam. Quidem eaque nihil amet delectus quasi recusandae omnis, modi minus nesciunt quisquam mollitia blanditiis fugiat atque quaerat dolor impedit adipisci quia quibusdam aspernatur necessitatibus sequi similique laboriosam? Aliquam, ipsa exercitationem natus assumenda obcaecati deserunt nulla ullam, unde ex, quis autem id ipsum nihil sunt iusto mollitia eum inventore velit!
                </p>




                
            </div>
        </div>
    </section>
</div>

{% endblock main %}
