{% extends "base.html" %}
{% load static %}
{% block main %}
    <div class="bg_img_box">
        <section class="news">
            
            <div class="section-info ">
                <div class="left">
                    <h2>Yangiliklar</h2>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>

            <div class="container-fluid news_card">
            
            
                <a href="#" class="card">
                    <img class="news-img" src="./img/bg-img-1.jpg" alt="rasm1">
                    <p class="title">Janubiy Koreyaning “AJOU MOTOR COLLEGE”  vakillari bilan uchrashuv </p>
                    <p>
                        <span>Noy 16, 2023 </span>
                        <span><img src="./img/icon/eys.png"> 32</span>
                    </p>
                </a>
            
       
            
    
            </div>
            <div class="paginations-box">
                <h3>Paginations-box</h3>
            </div>
        </section>
    </div>




{% endblock main %}

    






