{% load static %}
{% load i18n %}
<!-- Footer -->
<div class="container-fluid footer">
    <div class="container footer_container">
        <div class="footer_title">
            <img src="{% static 'img/logo.png' %}">
            <h4> JIZZAX SAMBHRAM UNIVERSITETI</h4>
        </div>
        <hr>
        <div class="row footer_content">
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-12 col-sm-12 footer_call">
                <h5>BIZ BILAN BOG’LANISH</h5>
                <a href="#"><img src="{% static 'img/icon/phone.png' %}"> &nbsp; +998942227751</a>
                <a href="#"><img src="{% static 'img/icon/email.png' %}"> &nbsp; info@sambhram.uz</a>
                <button class="btn"> Murojat yuborish</button>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-12 col-sm-12 footer_social">
                <h5>BIZNI IJTIMOIY TARMOQ</h5>
                <a href="#"><img src="{% static 'img/icon/facebook.png' %}">  &nbsp; Facebook</a>
                <a href="#"><img src="{% static 'img/icon/instagram.png' %}"> &nbsp; Instagram</a>
                <a href="#"><img src="{% static 'img/icon/youtube.png' %}">   &nbsp; Youtobe</a>
                <a href="#"><img src="{% static 'img/icon/telegram.png' %}">  &nbsp; Telegram</a>
                
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-12 col-sm-12">
                <h5>UNIVERSITET JOYLASHUVI</h5>
                <div class="footer_map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6099.62100394613!2d67.81760615593862!3d40.14650463708522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38b2973c0538fc9d%3A0x40a4140337c4fc9!2sSambhram%20University%20%7C%20Jizzakh%20affiliation!5e0!3m2!1sen!2s!4v1738563634634!5m2!1sen!2s"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <hr>

        </div>
        <div class="row footer_bottom">
            <div class="col-6">
                <p>Barcha huquqlar himoyalangan. Saytdan olingan ma'lumotlar chop etilganda veb-saytga havola qilish majburiy.</p>
            </div>
            <div class="col-6">
                <p style="text-align: end;">Jizzax viloyati, Jizzax shahri, Sh.Rashidov shoh ko‘chasi,  83-uy</p>
                
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
