{% load static %}

<div class="navbar_box">
    <section class="navbar-box">
        <nav class="navbar-top">
            <div class="link-box">
                <img src="{% static "img/icon/call.png" %}" alt="call">
                <a href="">+998 (90) 123 45 67</a>
        &nbsp;
        &nbsp;
                <img src="{% static 'img/icon/mail.png' %}" alt="main">
                <a href="">info@sambhram.uz</a>
            </div>
            <div class="link-box-search">
                <form>
                    <input type="search" placeholder="Qidiruv">
                </form>
            </div>
            <div class="link-box-language">
                <ul>
                    
                </ul>
            </div>
            <div class="link-box-button">
                <a href="">Qabul</a>
                <a href="">Admin</a>
            </div>
        </nav>
    </section>

    <section class="navbar-box">
        <nav class="navbar-center">
            <div class="logo-box">
                <a href="{% url 'main:index' %}"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
                <span>JIZZAX SAMBHRAM UNIVERSITETI</span>
            </div>
            <div class="navbar_dropdown">
                <ul>
                    <li class="li_1">
                        <a href="#">SAMBHRAM Haqida <img class="rotate-img" src="{% static 'img/icon/right.png' %}" alt="right"></a>
                        <ul class="dropdown_2">
                            <li><a href="#">Universitet Haqida</a></li>
                            <li><a href="#">Universitet Tarixi</a></li>
                        </ul>
                    </li> 
                        
                    <li class="li_1">
                        <a href="#">Yangiliklar     <img class="rotate-img" src="{% static 'img/icon/right.png' %}" alt="right"></a>
                        <ul class="dropdown_2">
                            <li><a href="{% url 'main:news' %}">Yangiliklar</a></li>
                            <li><a href="{% url 'main:elon' %}">E'lonlar</a></li>
                        </ul>
                    </li>
                    
                    <li class="li_1">
                        <a href="#">Universitet     <img class="rotate-img" src="{% static 'img/icon/right.png' %}" alt="right"></a>
                        <ul class="dropdown_2">
                            <li><a href="{% url 'main:rektorat' %}">Rektorat</a></li>
                            <li><a href="{% url 'main:fakultet' %}">Fakultetlar</a></li>
                            <li><a href="{% url 'main:rektorat' %}">Markazlar</a></li>
                            <li><a href="{% url 'main:rektorat' %}">Bo'limlar</a></li>
                            <li><a href="{% url 'main:rektorat' %}">Kafedralar</a></li>
                        </ul>
                    </li>
                        
                    <li class="li_1">
                        <a href="#">Faoliyat        <img class="rotate-img" src="{% static 'img/icon/right.png' %}" alt="right"></a>
                        <ul class="dropdown_2">
                            <li><a href="#">O'quv faoliyat</a></li>
                            <li><a href="#">Xalqaro faoliyat</a></li>
                        </ul>
                    </li>
                        
                    <li class="li_1">
                        <a href="#">Ta'lim          <img class="rotate-img" src="{% static 'img/icon/right.png' %}" alt="right"></a>
                        <ul class="dropdown_2">
                            <li><a href="#">Kunduzgi</a></li>
                            <li><a href="#">Sirtqi Ta'lim</a></li>
                            <li><a href="#">2-Mutaxasislik</a></li>
                        </ul>
                    </li>
                        
                    <li class="li_1">
                        <a href="#">Talabalar       <img class="rotate-img" src="{% static 'img/icon/right.png' %}" alt="right"></a>
                        <ul class="dropdown_2">
                            <li><a href="#">Bakalavr</a></li>
                            <li><a href="#">Magistratura</a></li>
                            <li><a href="#">Sirtqi Ta'lim</a></li>
                            <li><a href="#">O'qishni ko'chirish va qayta tiklash</a></li>
                        </ul>
                    </li>
                        
                    <li class="li_1">
                        <a href="#">Aloqa<img class="rotate-img" src="{% static 'img/icon/right.png' %}" alt="right"></a>
                        <ul class="dropdown_2">
                            <li><a href="#">Aloqa</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
</div>
<!-- Navbar-->
