{% load static %}


    <section class="navbar-box">
        <nav class="navbar-top">
            <div class="link-box">
                <img src="{% static "img/icon/call.png" %}" alt="call">
                <a href="">+998 (90) 123 45 67</a>
        &nbsp;
        &nbsp;
                <img src="{% static 'img/icon/mail.png' %}" alt="main">
                <a href="">info@sambhram.uz</a>
            </div>
            <div class="link-box-search">
                <form>
                    <input type="search" placeholder="Qidiruv">
                </form>
            </div>
            <div class="link-box-language">
                <ul>
                    
                </ul>
            </div>
            <div class="link-box-button">
                <a href="{% url 'main:kunduzki' %}">Qabul</a>
                <a href="">Admin</a>
            </div>
        </nav>
    </section>

    <section class="navbar-box-2">
        <nav class="navbar-center">
            <div class="logo-box">
                <a href="{% url 'main:index' %}"><img src="{% static 'img/newLogo.png' %}" alt="logo"></a>
            </div>
            <div class="navbar_dropdown">
                <ul id="ul_1" class="ul_1">
                    <button>&times;</button>
                    <li class="li_1">
                        <a href="#">SAMBHRAM Haqida <img class="rotate-img" src="{% static 'img/icon/right.png' %}" alt="right"></a>
                        <ul class="dropdown_2">
                            <li><a href="{% url 'main:about' %}">Universitet Haqida</a></li>
                            <li><a href="{% url 'main:history' %}">Universitet Tarixi</a></li>
                            <li><a href="{% url 'main:struktura' %}">Universitet Strukturasi</a></li>
                        </ul>
                    </li> 
                        
                    <li class="li_1">
                        <a href="#">Yangiliklar     <img class="rotate-img" src="{% static 'img/icon/right.png' %}" alt="right"></a>
                        <ul class="dropdown_2">
                            <li><a href="{% url 'main:news' %}">Yangiliklar</a></li>
                            <li><a href="{% url 'main:elon' %}">E'lonlar</a></li>
                        </ul>
                    </li>
                    
                    <li class="li_1">
                        <a href="{% url 'main:rektorat_main' %}">Universitet     <img class="rotate-img" src="{% static 'img/icon/right.png' %}" alt="right"></a>
                        <ul class="dropdown_2">
                            <li><a href="{% url 'main:rektorat' %}">Rektorat</a></li>
                            <li><a href="{% url 'main:fakultet' %}">Fakultetlar</a></li>
                            <li><a href="{% url 'main:markaz' %}">Markazlar</a></li>
                            <li><a href="{% url 'main:bulim' %}">Bo'limlar</a></li>
                            <li><a href="{% url 'main:kafedra' %}">Kafedralar</a></li>
                        </ul>
                    </li>
                        
                    <li class="li_1">
                        <a href="{% url 'main:faoliyat' %}">Faoliyat        <img class="rotate-img" src="{% static 'img/icon/right.png' %}" alt="right"></a>
                        <ul class="dropdown_2">
                            <li><a href="{% url 'main:if' %}">Ilmiy faoliyat</a></li>
                            <li><a href="{% url 'main:of' %}">O'quv faoliyat</a></li>
                            <li><a href="{% url 'main:xf' %}">Xalqaro faoliyat</a></li>
                            <li><a href="{% url 'main:mf' %}">Moliyaviy faoliyat</a></li>
                        </ul>
                    </li>
                        
                    <li class="li_1">
                        <a href="{% url 'main:talim' %}">Ta'lim          <img class="rotate-img" src="{% static 'img/icon/right.png' %}" alt="right"></a>
                        <ul class="dropdown_2">
                            <li><a href="{% url 'main:kunduzki' %}">Kunduzgi</a></li>
                            <li><a href="{% url 'main:sirtqi' %}">Sirtqi Ta'lim</a></li>
                            <li><a href="{% url 'main:2m' %}">2-Mutaxasislik</a></li>
                            <li><a href="{% url 'main:bakalavr' %}">Bakalavr</a></li>
                            <li><a href="{% url 'main:magistr' %}">Magistratura</a></li>
                            <li><a href="{% url 'main:sirtqi' %}">Doktrantura</a></li>
                        </ul>
                    </li>
                        
                    <li class="li_1">
                        <a href="{% url 'main:talabalar' %}">Talabalar       <img class="rotate-img" src="{% static 'img/icon/right.png' %}" alt="right"></a>
                        <ul class="dropdown_2">
                            <li><a href="{% url 'main:T_Bakalavr' %}">Bakalavr</a></li>
                            <li><a href="{% url 'main:T_Magistr' %}">Magistratura</a></li>
                            <li><a href="{% url 'main:T_Sirqi' %}">Sirtqi Ta'lim</a></li>
                            <li><a href="{% url 'main:T_qayta-tiklash' %}">O'qishni ko'chirish va qayta tiklash</a></li>
                        </ul>
                    </li>
                        
                    <li class="li_1">
                        <a href="{% url 'main:aloqa' %}">Aloqa<img class="rotate-img" src="{% static 'img/icon/right.png' %}" alt="right"></a>
                        <ul class="dropdown_2">
                            <li><a href="{% url 'main:aloqa' %}">Aloqa</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="gamburger">
                    <div class="lines"></div>
                    <div class="lines"></div>
                    <div class="lines"></div>
                </div>
                
                
            </div>
        </nav>
    </section>

<script>
    
    let ul_btn = document.querySelector(".ul_1 button");
    let ul_1 = document.querySelector(".ul_1");
    let gamburger = document.querySelector(".gamburger");

    if (gamburger && ul_1) {
        gamburger.addEventListener("click", () => {
            ul_1.style.display = "block";
            console.log("yoo");
        });
    }

    if (ul_btn) {
        ul_btn.addEventListener("click", () => {
            ul_1.style.display = "none";
        });
    }

</script>