{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/fontAwesome/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/Owl-Carusel/owl-carusel.css' %}">
    <link rel="stylesheet" href="{% static 'css/Owl-Carusel/owl-carusel-default.css' %}">


    <link rel="stylesheet" href="{% static 'css/bootstrap5.3.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/about-us.css' %}">
    <link rel="stylesheet" href="{% static 'css/havola.css' %}">
    <link rel="stylesheet" href="{% static 'css/video.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <link rel="icon" type="image/x-icon" href="/static/img/logo.png">

    <title>{% block title %}Sambhram{% endblock title %}</title>

    
</head>
<body>
    

    {% include "__navbar.html" %}
     
    {% block bg-img %}{% endblock bg-img %}
    
    {% block main %}{% endblock main %}

    {% block news %}{% endblock news %}
    {% block havola %}{% endblock havola %}
    {% block elonlar %}{% endblock elonlar %}
    {% block about_us %}{% endblock about_us %}
    {% block statistika %}{% endblock statistika %}
    {% block galareya %}{% endblock galareya %}
    {% block indikator %}{% endblock indikator %}
    
    
    {% include "__footer.html" %}


    <script src="{% static 'js/JQuery.js' %}"></script>
    <script src="{% static 'js/Owl-Carusel.js' %}"></script>
    <script src="{% static 'js/bootstrap5.3.js' %}"></script>
    <script src="{% static 'js/swiper.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        function toggleDropdown() {
            const menu = document.getElementById('languageMenu');
            menu.classList.toggle('show');
        }
        // Dropdownni yopish uchun tashqariga bosilganda
        document.addEventListener('click', function(event) {
            const dropdown = document.querySelector('.language-dropdown');
            if (!dropdown.contains(event.target)) {
                document.getElementById('languageMenu').classList.remove('show');
            }
        });

        document.addEventListener('DOMContentLoaded', function() {
            const thumbnails = document.querySelectorAll('.thumbnail-item img');
            const mainImage = document.querySelector('.main-image img');
        
            thumbnails.forEach(thumbnail => {
                thumbnail.addEventListener('click', function() {
                    mainImage.src = this.src; // Asosiy rasmni almashtirish
                });
            });
        });

    </script>
</body>
</html>