{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Sambhram{% endblock title %}

    
    {% block bg-img %}
            <div class="bg-img-box">
                <div class="swiper">
                    <div class="swiper-wrapper">

                        {% for item in bgimg %}
                            {% if item.img %}
                                <div class="swiper-slide">
                                    <img src="{{ item.img.url }}" alt="">
                                </div>
                            {% else %}
                                <div class="swiper-slide">
                                    <img src="{% static 'img/bg-img-1.jpg' %}" alt="">
                                </div>
                            {% endif %}
                        {% endfor %}
                        
                    </div>
                
                    <!-- <div class="swiper-pagination"></div> -->
                
                    <!-- <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div> -->
                    <div class="swiper-scrollbar"></div>
                
                </div>
            </div>
    {% endblock bg-img %}

    {% block news %}
        <!-- Yangiliklar -->
        <div class="bg_img_box">
            <section class="news">
                
                <div class="section-info ">
                    <div class="left">
                        <h2>{% blocktrans %}Yangiliklar{% endblocktrans %}</h2>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                    <div class="right">
                        <a href="{% url 'main:news' %}">{% blocktrans %}O'qishda davom eting{% endblocktrans %} <img class="rotate-img" src="{% static 'img/icon/right.png' %}" alt="right"></a>
                    </div>
                </div>

                <div class="container-fluid news_card">
                    {% for item in news|slice:":8" %}
                        <a href="{% url 'main:news_detail' item.slug %}" class="card">
                            <img class="news-img" src="{{ item.photo.url }}" alt="rasm1">
                            <p class="title">{{ item.title|truncatewords:9 }}</p>
                            <p>
                                <span>{{ item.past_times }}</span>
                                <span><img src="{% static 'img/icon/eys.png' %}"> {{ item.views|default:0 }}</span>
                            </p>
                        </a>
                    {% endfor %}
   
                </div>
            </section>
        </div>

        <!-- Yangiliklar END -->
    {% endblock news %}

    {% block elonlar %}
        <div class="bg_img_box">
            <section class="elon">
                
                <div class="section-info">
                    <div class="left">
                        <h2>Elonlar</h2>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                    <div class="right">
                        <a href="{% url 'main:elon' %}">{% blocktrans %}O'qishda davom eting{% endblocktrans %} <img class="rotate-img" src="{% static 'img/icon/right.png' %}" alt="right"></a>
                    </div>
                </div>

                <div class="container-fluid elon_card">
                    {% for item in elon|slice:":3" %}    
                        <a href="{% url 'main:elon_detail' item.slug %}" class="card">
                            <img class="elon-img" src="{{ item.photo.url }}" alt="rasm1">
                            <p class="elon-title">{{ item.name }}</p>
                            <p class="title">{{ item.title|truncatewords:10 }}</p>
                            <p>
                                <span>{{ item.past_times }} </span>
                                <span><img src="{% static 'img/icon/eys.png' %}">  {{ item.views|default:0 }}</span>
                            </p>
                        </a>
                    {% endfor %}
                
                </div>
            </section>
        </div>
    {% endblock elonlar %}

    {% block havola %}
        <section class="xavola">
        
            <div class="section-info havola-line">
                <div class="left">
                    <h2>{% blocktrans %}Havolalar{% endblocktrans %}</h2>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>

            <div class="container-fluid links_card">
                <a href="#" class="cards">
                    <img src="{% static 'img/havola/Link1.png' %}" alt="rasm1">
                    <div class="box">
                        <img src="{% static 'img/havola/pedagogika.png' %}" alt="rasm1">
                        <p class="title_p">{% blocktrans %}Pedagogika{% endblocktrans %}</p>
                    </div>
                </a>
            
                <a href="#" class="cards">
                    <img src="{% static 'img/havola/Link2.png' %}" alt="rasm1">
                    <div class="box">
                        <img src="{% static 'img/havola/student.png' %}" alt="rasm1">
                        <p class="title_p">{% blocktrans %}Sambhram.uz{% endblocktrans %}</p>
                    </div>
                </a>
            
                <a href="#" class="cards">
                    <img src="{% static 'img/havola/Link3.png' %}" alt="rasm1">
                    <div class="box">
                        <img src="{% static 'img/havola/jadval.png' %}" alt="rasm1">
                        <p class="title_p">{% blocktrans %}Dars jadvali{% endblocktrans %}</p>
                    </div>
                </a>
            
                <a href="#" class="cards">
                    <img src="{% static 'img/havola/Link4.png' %}" alt="rasm1">
                    <div class="box">
                        <img src="{% static 'img/havola/Masofaviy-talim.png' %}" alt="rasm1">
                        <p class="title_p">{% blocktrans %}Masofaviy ta'lim{% endblocktrans %}</p>
                    </div>
                </a>
            
        
            
            </div>
        </section>
    {% endblock havola %}

    {% block about_us %}
        <section class="about_us">
            <section class="about_us">
                <div class="about-main">
                    <div class="about-img-cards"></div>
                    <div class="about-img-logo">
                        <div class="line-box1">
                            <span class="loader1"></span>
                            <span class="loader2"></span>
                            <span class="loader3"></span>
                            <div class="img-card">
                                <img src="{% static 'img/logo.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="about-img-title">
                        <h3>{% blocktrans %}Universitet haqida{% endblocktrans %}</h3>
                        <p>{% blocktrans %}“Sambhram Universiteti” nodavlat ta’lim muassasasi bulib, 2021 - yilda tashkil topgan. Universitetda 1ta ochiq futbol maydoni va 1ta yopiq sport zali mavjud.{% endblocktrans %}</p>
                        <p>{% blocktrans %}Axborot resurs markazida, ARM da 4230 ta darsliklar va o'quv qo'llanmalari kitoblari mavjud.{% endblocktrans %}</p>
                        <p>{% blocktrans %}Universitetda zami 1977 nafar talabalar talim olmoqda. Zhumladan, 3 ta talim yönalish bwyicha kunduzgi talimda 857, Sirtqi talimda 1 100 nafar hamda magistracy 20 nafar talabalar oqimokda.{% endblocktrans %}</p>
            
                        <a href="{% url 'main:about' %}">{% blocktrans %}Batafsil{% endblocktrans %}</a>
                        
                    </div>
                </div>
            </section>
    {% endblock about_us %}

    {% block statistika %}
        <div class="bg_img_box">
            <section class="statistika">
                
                <div class="section-info havola-line">
                    <div class="left">
                        <h2>{% blocktrans %}Universitetning asosiy ko'rsatkichlari{% endblocktrans %}</h2>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>

                <div class="container-fluid indicator">
                    <div class="indicator-left">
                        <img src="{% static 'img/indicator/indicator1.jpg' %}" alt="">
                        <div class="indicator-top">
                            <p><img class="indicator-icon" src="{% static 'img/indicator/indicator-icon-1.png' %}" alt="img">{% blocktrans %}Jami hudud{% endblocktrans %}</p>
                            <h3>4 400 <span class="span-sup">m <sup>2</sup></span></h3>
                        </div>
                        
                        <div class="indicator-line"></div>
                        
                        <div class="indicator-bottom">
                            <p> <img class="indicator-icon" src="{% static 'img/indicator/indicator-icon-2.png' %}" alt="forest">{% blocktrans %}Yashil maydon{% endblocktrans %}</p>
                            <h3>1 140 <span class="span-sup">m <sup>2</sup></span></h3>
                            <img class="indicator-forest" src="{% static 'img/indicator/forest.png' %}">
                        </div>
                        
                    </div>
                    
                    <div class="indicator-right">
                
                        <div class="indicator-right-block-top">
                            <div class="indicator-right-block">
                                <div class="indicator-right-block-title">{% blocktrans %}Fakultetlar{% endblocktrans %}</div>
                                <div class="indicator-right-block-card">
                                    <div class="indicator-right-block-cards">
                                        <div class="cards-top">{% blocktrans %}Kofedra{% endblocktrans %}</div>
                                        <div class="cards-bottom">5</div>
                                    </div>
                                    <div class="indicator-right-block-cards">
                                        <div class="cards-top">{% blocktrans %}Fakultet{% endblocktrans %}</div>
                                        <div class="cards-bottom">5</div>
                                    </div>
                                </div>
                            </div>
                            <div class="indicator-right-block">
                                <div class="indicator-right-block-title">{% blocktrans %}Xodimlar soni{% endblocktrans %}</div>
                                <div class="indicator-right-block-card">
                                    <div class="indicator-right-block-cards">
                                        <div class="cards-top">{% blocktrans %}Jami{% endblocktrans %}</div>
                                        <div class="cards-bottom">53</div>
                                    </div>
                                </div>
                            </div>
                            <div class="indicator-right-block">
                                <div class="indicator-right-block-title">Talabalar soni</div>
                                <div class="indicator-right-block-card">
                                    <div class="indicator-right-block-cards">
                                        <div class="cards-top">{% blocktrans %}Jami{% endblocktrans %}</div>
                                        <div class="cards-bottom">5122</div>
                                    </div>
                                    <div class="indicator-right-block-cards">
                                        <div class="cards-top">{% blocktrans %}Bakalavr{% endblocktrans %}</div>
                                        <div class="cards-bottom">1 957</div>
                                    </div>
                                    <div class="indicator-right-block-cards">
                                        <div class="cards-top">{% blocktrans %}Magistratura{% endblocktrans %}</div>
                                        <div class="cards-bottom">205</div>
                                    </div>
                                </div>
                            </div>
                            <div class="indicator-right-block">
                                <div class="indicator-right-block-title">{% blocktrans %}O’qituvchi va professorlar{% endblocktrans %}</div>
                                <div class="indicator-right-block-card">
                                    <div class="indicator-right-block-cards">
                                        <div class="cards-top">{% blocktrans %}Fan doktori{% endblocktrans %}</div>
                                        <div class="cards-bottom">556</div>
                                    </div>
                                    <div class="indicator-right-block-cards">
                                        <div class="cards-top">{% blocktrans %}Fan nomzodi{% endblocktrans %}</div>
                                        <div class="cards-bottom">565</div>
                                    </div>
                                    <div class="indicator-right-block-cards">
                                        <div class="cards-top">{% blocktrans %}O’qituvchi{% endblocktrans %}</div>
                                        <div class="cards-bottom">556</div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="indicator-bottom-2">
                            <div class="col-box-title">
                                <h3>{% blocktrans %}Talabalar to'g'risida qisqacha ma'lumot{% endblocktrans %}</h3>
                            </div>
                            <div class="call-boxs-info">
                                <div class="call-boxs">
                                    <h3>35%</h3>
                                    <p>{% blocktrans %}Moliyaviy yordam oladigan talabalar{% endblocktrans %}</p>
                                </div>
                                <div class="call-boxs">
                                    <h3>46%</h3>
                                    <p>{% blocktrans %}Talaba o'qituvchilar{% endblocktrans %}</p>
                                </div>
                                <div class="call-boxs">
                                    <h3>89%</h3>
                                    <p>{% blocktrans %}Bitiruvdan keyin bir yil ichida ishga joylashish{% endblocktrans %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


    {% endblock statistika %}

    {% block indikator %}
        <section class="indicator-page">
            
            <div class="section-info havola-line">
                <div class="left">
                    <h2>{% blocktrans %}Foydali Havolalar{% endblocktrans %}</h2>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>

            <div class="container-fluid links_card">
                <div class="owl-carousel owl-theme">
                    
                    {% for item in havola %}
                        <div class="item">
                            <a href="{{ item.link }}">
                                <img src="{{ item.img.url }}">
                                <p>{{ item.name }}</p>
                            </a>
                        </div>
                    {% endfor %}
                    
                </div>
            </div>

            <div class="title">
                <div class="title-line"></div>
                <h6 class="title-text">{% blocktrans %}Sambhram Universiteti{% endblocktrans %}</h6>
                <div class="title-line"></div>
            </div>
        </section>

    {% endblock indikator %}



    {% block galareya %}
    <section class="galareya-page py-8">
      <div class="container mx-auto max-w-6xl">
        <!-- Tabs -->
        <div class="flex space-x-4 mb-6">
          <button class="tab-btn px-4 py-2 font-semibold text-gray-700 border-b-3 border-transparent hover:border-blue-900 transition-colors tab-active" data-target="foto">FOTOLAVHALAR</button>
          <button class="tab-btn px-4 py-2 font-semibold text-gray-700 border-b-3 border-transparent hover:border-blue-900 transition-colors" data-target="video">VIDEOLAVHALAR</button>
        </div>
    
        <!-- Foto Galereya -->
        <div id="foto" class="tab-content">
          <div class="swiper foto-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide swiper-slide_img ">
                <img src="{% static 'img/indicator/indicator1.jpg' %}" class="rounded-lg w-full h-48 object-cover" alt="Foto 1" />
              </div>
              <div class="swiper-slide swiper-slide_img">
                <img src="{% static 'img/indicator/indicator1.jpg' %}" class="rounded-lg w-full h-48 object-cover" alt="Foto 2" />
              </div>
            </div>
            <!-- <div class="swiper-button-next text-blue-900"></div>
            <div class="swiper-button-prev text-blue-900"></div> -->
            <!-- <div class="swiper-pagination"></div> -->
          </div>
        </div>
    
        <!-- Video Galereya -->
        <div id="video" class="tab-content hidden">
          <div class="swiper video-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <video controls class="rounded-lg w-full h-48">
                  <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4" />
                  Your browser does not support the video tag.
                </video>
              </div>
              <div class="swiper-slide">
                <video controls class="rounded-lg w-full h-48">
                  <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4" />
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
            <div class="swiper-button-next text-blue-900"></div>
            <div class="swiper-button-prev text-blue-900"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    
    <script>
    // Swiper init for Foto and Video separately
    const fotoSwiper = new Swiper(".foto-swiper", {
      slidesPerView: 4,
      spaceBetween: 20,
      loop: true,
      pagination: { el: ".foto-swiper .swiper-pagination", clickable: true },
      navigation: { nextEl: ".foto-swiper .swiper-button-next", prevEl: ".foto-swiper .swiper-button-prev" },
      breakpoints: {
        1024: { slidesPerView: 4 },
        768: { slidesPerView: 2 },
        640: { slidesPerView: 1 },
      },
    });
    
    const videoSwiper = new Swiper(".video-swiper", {
      slidesPerView: 4,
      spaceBetween: 20,
      loop: true,
      pagination: { el: ".video-swiper .swiper-pagination", clickable: true },
      navigation: { nextEl: ".video-swiper .swiper-button-next", prevEl: ".video-swiper .swiper-button-prev" },
      breakpoints: {
        1024: { slidesPerView: 4 },
        768: { slidesPerView: 2 },
        640: { slidesPerView: 1 },
      },
    });
    
    // Tab switching with hide/show functionality
    const fotoContent = document.getElementById("foto");
    const videoContent = document.getElementById("video");
    
    document.querySelectorAll(".tab-btn").forEach(tab => {
      tab.addEventListener("click", () => {
        // Toggle active tab
        document.querySelectorAll(".tab-btn").forEach(t => t.classList.remove("tab-active"));
        tab.classList.add("tab-active");
    
        // Toggle content visibility using style.display
        if (tab.dataset.target === "foto") {
          fotoContent.style.display = "block";
          videoContent.style.display = "none";
        } else if (tab.dataset.target === "video") {
          videoContent.style.display = "block";
          fotoContent.style.display = "none";
        }
    
        // Refresh Swiper instances to fix layout issues
        fotoSwiper.update();
        videoSwiper.update();
      });
    });
    
    // Add click events to foto and video content areas
    fotoContent.addEventListener("click", () => {
      videoContent.style.display = "none";
      fotoContent.style.display = "block";
      // Update tab button active state
      document.querySelectorAll(".tab-btn").forEach(t => t.classList.remove("tab-active"));
      document.querySelector('.tab-btn[data-target="foto"]').classList.add("tab-active");
      fotoSwiper.update();
    });
    
    videoContent.addEventListener("click", () => {
      fotoContent.style.display = "none";
      videoContent.style.display = "block";
      // Update tab button active state
      document.querySelectorAll(".tab-btn").forEach(t => t.classList.remove("tab-active"));
      document.querySelector('.tab-btn[data-target="video"]').classList.add("tab-active");
      videoSwiper.update();
    });
    </script>
    

    {% endblock galareya %}