{% extends "base.html" %}
{% load static %}

{% block title %}Sambhram{% endblock title %}

    
    {% block bg-img %}
            <div class="bg-img-box">
                <div class="swiper">
                    <div class="swiper-wrapper">

                        {% for item in bgimg %}
                            {% if item.img %}
                                <div class="swiper-slide">
                                    <img src="{{ item.img.url }}" alt="">
                                </div>
                            {% else %}
                                <div class="swiper-slide">
                                    <img src="{% static 'img/bg-img-1.jpg' %}" alt="">
                                </div>
                            {% endif %}
                        {% endfor %}
                        
                    </div>
                
                    <!-- <div class="swiper-pagination"></div> -->
                
                    <!-- <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div> -->
                    <div class="swiper-scrollbar"></div>
                
                </div>
            </div>
    {% endblock bg-img %}

    {% block news %}
        <!-- Yangiliklar -->
        <div class="bg_img_box">
            <section class="news">
                
                <div class="section-info ">
                    <div class="left">
                        <h2>Yangiliklar</h2>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                    <div class="right">
                        <a href="{% url 'main:news' %}">O'qishda davom eting <img class="rotate-img" src="{% static 'img/icon/right.png' %}" alt="right"></a>
                    </div>
                </div>

                <div class="container-fluid news_card">
                    {% for item in news|slice:":8" %}
                        <a href="{% url 'main:news_detail' item.slug %}" class="card">
                            <img class="news-img" src="{{ item.photo.url }}" alt="rasm1">
                            <p class="title">{{ item.title|truncatewords:9 }}</p>
                            <p>
                                <span>{{ item.past_times }}</span>
                                <span><img src="{% static 'img/icon/eys.png' %}"> {{ item.views|default:0 }}</span>
                            </p>
                        </a>
                    {% endfor %}
   
                </div>
            </section>
        </div>

        <!-- Yangiliklar END -->
    {% endblock news %}

    {% block elonlar %}
        <div class="bg_img_box">
            <section class="elon">
                
                <div class="section-info">
                    <div class="left">
                        <h2>Elonlar</h2>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                    <div class="right">
                        <a href="{% url 'main:elon' %}">O'qishda davom eting <img class="rotate-img" src="{% static 'img/icon/right.png' %}" alt="right"></a>
                    </div>
                </div>

                <div class="container-fluid elon_card">
                    {% for item in elon|slice:":3" %}    
                        <a href="{% url 'main:elon_detail' item.slug %}" class="card">
                            <img class="elon-img" src="{{ item.photo.url }}" alt="rasm1">
                            <p class="elon-title">{{ item.name }}</p>
                            <p class="title">{{ item.title|truncatewords:10 }}</p>
                            <p>
                                <span>{{ item.past_times }} </span>
                                <span><img src="{% static 'img/icon/eys.png' %}">  {{ item.views|default:0 }}</span>
                            </p>
                        </a>
                    {% endfor %}
                
                </div>
            </section>
        </div>
    {% endblock elonlar %}

    {% block havola %}
        <section class="xavola">
        
            <div class="section-info havola-line">
                <div class="left">
                    <h2>Havolalar</h2>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>

            <div class="container-fluid links_card">
                <a href="#" class="cards">
                    <img src="{% static 'img/havola/Link1.png' %}" alt="rasm1">
                    <div class="box">
                        <img src="{% static 'img/havola/pedagogika.png' %}" alt="rasm1">
                        <p class="title_p">Pedagogika</p>
                    </div>
                </a>
            
                <a href="#" class="cards">
                    <img src="{% static 'img/havola/Link2.png' %}" alt="rasm1">
                    <div class="box">
                        <img src="{% static 'img/havola/student.png' %}" alt="rasm1">
                        <p class="title_p">Sambhram.uz</p>
                    </div>
                </a>
            
                <a href="#" class="cards">
                    <img src="{% static 'img/havola/Link3.png' %}" alt="rasm1">
                    <div class="box">
                        <img src="{% static 'img/havola/jadval.png' %}" alt="rasm1">
                        <p class="title_p">Dars jadvali</p>
                    </div>
                </a>
            
                <a href="#" class="cards">
                    <img src="{% static 'img/havola/Link4.png' %}" alt="rasm1">
                    <div class="box">
                        <img src="{% static 'img/havola/Masofaviy-talim.png' %}" alt="rasm1">
                        <p class="title_p">Masofaviy ta'lim</p>
                    </div>
                </a>
            
        
            
            </div>
        </section>
    {% endblock havola %}

    {% block about_us %}
        <section class="about_us">
            <section class="about_us">
                <div class="about-main">
                    <div class="about-img-cards"></div>
                    <div class="about-img-logo">
                        <div class="line-box1">
                            <span class="loader1"></span>
                            <span class="loader2"></span>
                            <span class="loader3"></span>
                            <div class="img-card">
                                <img src="{% static 'img/logo.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="about-img-title">
                        <h3>Universitet haqida</h3>
                        <p>“Sambhram Universiteti” nodavlat ta’lim muassasasi bulib, 2021 - yilda tashkil topgan. Universitetda 1ta ochiq futbol maydoni va 1ta yopiq sport zali mavjud.</p>
                        <p>Axborot resurs markazida, ARM da 4230 ta darsliklar va o'quv qo'llanmalari kitoblari mavjud.</p>
                        <p>Universitetda zami 1977 nafar talabalar talim olmoqda. Zhumladan, 3 ta talim yönalish bwyicha kunduzgi talimda 857, Sirtqi talimda 1 100 nafar hamda magistracy 20 nafar talabalar oqimokda.</p>
            
                        <a href="{% url 'main:about' %}">Batafsil</a>
                        
                    </div>
                </div>
            </section>
    {% endblock about_us %}

    {% block statistika %}
        <div class="bg_img_box">
            <section class="statistika">
                
                <div class="section-info havola-line">
                    <div class="left">
                        <h2>Universitetning asosiy ko'rsatkichlari</h2>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>

                <div class="container-fluid indicator">
                    <div class="indicator-left">
                        <img src="{% static 'img/indicator/indicator1.jpg' %}" alt="">
                        <div class="indicator-top">
                            <p><img class="indicator-icon" src="{% static 'img/indicator/indicator-icon-1.png' %}" alt="img">Jami hudud</p>
                            <h3>4 400 <span class="span-sup">m <sup>2</sup></span></h3>
                        </div>
                        
                        <div class="indicator-line"></div>
                        
                        <div class="indicator-bottom">
                            <p> <img class="indicator-icon" src="{% static 'img/indicator/indicator-icon-2.png' %}" alt="forest">Yashil maydon</p>
                            <h3>1 140 <span class="span-sup">m <sup>2</sup></span></h3>
                            <img class="indicator-forest" src="{% static 'img/indicator/forest.png' %}">
                        </div>
                        
                    </div>
                    
                    <div class="indicator-right">
                
                        <div class="indicator-right-block-top">
                            <div class="indicator-right-block">
                                <div class="indicator-right-block-title">Fakultetlar</div>
                                <div class="indicator-right-block-card">
                                    <div class="indicator-right-block-cards">
                                        <div class="cards-top">Kofedra</div>
                                        <div class="cards-bottom">5</div>
                                    </div>
                                    <div class="indicator-right-block-cards">
                                        <div class="cards-top">Fakultet</div>
                                        <div class="cards-bottom">5</div>
                                    </div>
                                </div>
                            </div>
                            <div class="indicator-right-block">
                                <div class="indicator-right-block-title">Xodimlar soni</div>
                                <div class="indicator-right-block-card">
                                    <div class="indicator-right-block-cards">
                                        <div class="cards-top">Jami</div>
                                        <div class="cards-bottom">53</div>
                                    </div>
                                </div>
                            </div>
                            <div class="indicator-right-block">
                                <div class="indicator-right-block-title">Talabalar soni</div>
                                <div class="indicator-right-block-card">
                                    <div class="indicator-right-block-cards">
                                        <div class="cards-top">Jami</div>
                                        <div class="cards-bottom">5122</div>
                                    </div>
                                    <div class="indicator-right-block-cards">
                                        <div class="cards-top">Bakalavr</div>
                                        <div class="cards-bottom">1 957</div>
                                    </div>
                                    <div class="indicator-right-block-cards">
                                        <div class="cards-top">Magistratura</div>
                                        <div class="cards-bottom">205</div>
                                    </div>
                                </div>
                            </div>
                            <div class="indicator-right-block">
                                <div class="indicator-right-block-title">O’qituvchi va professorlar</div>
                                <div class="indicator-right-block-card">
                                    <div class="indicator-right-block-cards">
                                        <div class="cards-top">Fan doktori</div>
                                        <div class="cards-bottom">556</div>
                                    </div>
                                    <div class="indicator-right-block-cards">
                                        <div class="cards-top">Fan nomzodi</div>
                                        <div class="cards-bottom">565</div>
                                    </div>
                                    <div class="indicator-right-block-cards">
                                        <div class="cards-top">O’qituvchi</div>
                                        <div class="cards-bottom">556</div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="indicator-bottom-2">
                            <div class="col-box-title">
                                <h3>Talabalar to'g'risida qisqacha ma'lumot</h3>
                            </div>
                            <div class="call-boxs-info">
                                <div class="call-boxs">
                                    <h3>35%</h3>
                                    <p>Moliyaviy yordam oladigan talabalar</p>
                                </div>
                                <div class="call-boxs">
                                    <h3>46%</h3>
                                    <p>Talaba o'qituvchilar</p>
                                </div>
                                <div class="call-boxs">
                                    <h3>89%</h3>
                                    <p>Bitiruvdan keyin bir yil ichida ishga joylashish</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


    {% endblock statistika %}

    {% block indikator %}
        <section class="indicator-page">
            
            <div class="section-info havola-line">
                <div class="left">
                    <h2>Foydali Havolalar</h2>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>

            <div class="container-fluid links_card">
                <div class="owl-carousel owl-theme">
                    
                    {% for item in havola %}
                        <div class="item">
                            <a href="{{ item.link }}">
                                <img src="{{ item.img.url }}">
                                <p>{{ item.name }}</p>
                            </a>
                        </div>
                    {% endfor %}
                    
                </div>
            </div>

            <div class="title">
                <div class="title-line"></div>
                <h6 class="title-text">Sambhram Universiteti</h6>
                <div class="title-line"></div>
            </div>
        </section>

    {% endblock indikator %}

