{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="bg_img_box">
    <section class="faoliyat">
        <div class="breadcrumbb">
            <ul>
                <li><a href="#"><img src="{% static "img/Rektorat/home.png" %}"></a></li>
                <li class="sircl"></li>
                <li><a href="{% url 'main:talim' %}">Ta'lim</a></li>
      
                <li class="sircl"></li>
                <li><a href="{% url 'main:bakalavr' %}">Bakalavr</a></li>

            </ul>
        </div>
        <div class="activity">
            {% include "talim/t_left.html" %}
            <div class="activity_right">
            
            
     




            </div>
        </div>
    </section>
</div>

{% endblock main %}
