{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block main %}
<div class="bg_img_box">
    <section class="faoliyat">
        <div class="breadcrumbb">
            <ul>
                <li><a href="{% url 'main:index' %}"><img src="{% static "img/Rektorat/home.png" %}"></a></li>
                <li class="sircl"></li>
                <li><a href="{% url 'main:faoliyat' %}">{% blocktrans %}Faoliyat{% endblocktrans %}</a></li>
            </ul>
        </div>
        <div class="activity">
            
            {% include "faoliyat/f_left.html" %}
            
            <div class="activity_right">
                <ul>
                    <li><a href="{% url 'main:of' %}">{% blocktrans %}O’QUV FAOLIYAT{% endblocktrans %}</a></li>
                    <li><a href="{% url 'main:xf' %}">{% blocktrans %}XALQARO FAOLIYAT{% endblocktrans %}</a></li>
                    <li><a href="{% url 'main:if' %}">{% blocktrans %}ILMIY FAOLIYAT{% endblocktrans %}</a></li>
                    <li><a href="{% url 'main:mf' %}">{% blocktrans %}MOLIYAVIY FAOLIYAT{% endblocktrans %}</a></li>
                </ul>
            </div>
        </div>
    </section>
</div>

{% endblock main %}
